/* RESET STYLES ======================================== */
* {margin: 0;border: 0;padding: 0;}

*,*::before,*::after {box-sizing: inherit;}

html,body {height: 100%;box-sizing: border-box;}

li {list-style: none;}

a {color: inherit;text-decoration: none;}

button {font: inherit;color: inherit;cursor: pointer;background-color: transparent;}
input:focus{outline: none;}
/* COMMON STYLES ========================================*/
body {font-family: sans-serif;font-size: 14px;color: #303030;}

.wrapper {min-height: 100%;overflow: clip;display: flex;flex-direction: column;}

[class*="__container"] {max-width: 1140px;margin: 0 auto;padding: 0 15px;}


/* HEADER STYLES ========================================*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 10px 0;
  z-index: 1;
  background-color: #1e2a35;
  color: #dfdede;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 0 ;
}

.header__link {
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.dropdown {
  position: relative;
  transition: all 0.3s;
  display: flex;
  gap: 15px;
}

.dropdown__button {
  text-transform: uppercase;
}


.header__right-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__right-block .dropdown {
  padding-left: 15px;
  border-left: 1px solid;
}

.header__right-block img {
  width: 28px;
}

.dropdown__link {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.login-modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}
  
.login-modal-content {
  background-color: #1e2a35;
  color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.login-form{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 25px;
}
.login-input {
  height: 30px;
  background-color: #f1f1f2;
  font-size: 17px;
  padding: 3px;
}
.login-btn {
  width: 120px;
  height: 40px;
  background-color: #f1f1f2;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 20px;
}
.login-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
}

.login-close:hover,
.login-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

@media(max-width: 612px){
  .header__container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}


/* HERO SECTION STYLES ========================================*/
.main {flex: 1;}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hero__content {
  position: relative;
  flex: 1;
  padding-top: 160px;
  padding-bottom: 45px;
  background: url(../img/hero/bg.jpg) 0 35px / cover no-repeat;
}

.hero__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1d1d1d7e;
}

.hero__container {
  position: relative;
  z-index: 1;
}



.hero__breadcrumbs {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 35px;
}

.hero__breadcrumbs span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #dfdede;
  border-radius: 50%;
}

.hero__breadcrumbs a {
  padding-bottom: 5px;
  border-bottom: 1px solid;
  transition: color 0.3s;
}

.hero__title {
  font-size: clamp(1rem, calc(0.41rem + 2.95vw), 2.25rem);
  margin-bottom: 15px;
}

.hero__main-title {
  font-size: clamp(1.75rem, calc(0.92rem + 4.13vw), 3.5rem);
  margin-bottom: 15px;
}

.hero__banner {
  padding: 10px 0;
  background-color: #1e2a35;
  position: relative;
}

.hero__link{
  display: flex;
  justify-content: start;
  gap: 15px;
}

@media(max-width: 740px){
  .hero__link{
    justify-content: center;
  }
}

.hero__anchor {
  width: 65px;
  height: 65px;
  right: 45px;
  bottom: 45px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.hero__anchor img {
  width: 45px;
  transition: all 0.3s;
  animation: anchor 1s infinite;
}

.hero__anchor:hover {
  scale: 0.8;
}
.hero__anchor:hover img {
  scale: 1.1;
  animation: 0;
}

@keyframes anchor {
  25% {transform: translateY(10px);}
  50% {transform: translateY(-10px);}
}

@media(max-width: 800px){
  .hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
  .hero__main-title {
    font-size: 44px;
    text-align: center;
  }
  .hero__text {
    text-align: center;
    font-size: 24px;
  }
  .hero__anchor {
    width: 55px;
    height: 55px;
    right: 15px;
    bottom: 15px;
  }
  .hero__title{
    font-size: 24px;
  }
}



/* SEARCH STYLES ========================================*/
.search-car {
  padding: 25px 180px;
}
.search-car__container {
  display: grid;
  grid-template-columns: repeat(8, auto); 
  gap: 10px;
}
.search-car__item {
  border-radius: 30px;
  background-color: #f1f1f2;
  padding: 7px 11px;  
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  white-space: nowrap;
  text-align: center;

}
.search-car__item:hover {
  background-color: #19a880;
}

@media(max-width: 1330px){
  .search-car__container {
    grid-template-columns: repeat(4, auto); 
  }
}
@media(max-width: 1050px){
  .search-car__container {
    grid-template-columns: repeat(2, auto); 
  }
}
@media(max-width: 730px){
  .search-car {
    padding: 25px 100px;
  }
  .search-car__container {
    grid-template-columns: repeat(2, auto); 
  }
}
@media(max-width: 440px){
  .search-car {
    padding: 25px 10px;
  }
}

/* AUTO LIST STYLES ========================================*/
.auto-grid {
  padding: 10px 60px;
}
.auto-grid__container {
  display: grid;
  grid-template-columns: repeat(4, auto); 
  min-width: 100%;
}
.auto-grid__item {
  border: 1px solid #e7e8ea;
  border-left: 0;
  border-top: 0;
  cursor: pointer;
  padding: 10px 24px 15px 24px;  
  text-align: center;
}
.auto-grid__item:last-child,
.auto-grid__item:nth-child(4n){
  border-right: 0;
}
.auto-grid__item:nth-last-child(-n+4){
  border-bottom: 0;
}

.auto-grid__item img{
  height: 171px;  
  transition: all .2s linear;
}
.auto-grid__item:hover img {
  transform: scale(1.1);
}
.auto-grid__title {
  font-weight: 600;
  font-size: 19px;
  transition: all .3s linear;
  margin-top: 20px;
} 
.auto-grid__item:hover .auto-grid__title {
  color: #19a880; 
}
.auto-grid__info {
  color: #79818c;
  font-weight: 400;
  font-size: 15px;
}
.auto-grid__price-wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
}
.auto-grid__price:first-child {
  font-weight: 900;
  font-size: 25px;
}
.auto-grid__price:last-child {
  color: #79818c
}
@media(max-width: 1330px){
  .auto-grid__container {
    grid-template-columns: repeat(3, auto); 
  }

  .auto-grid__item {
    border: 0;
    border-top: 1px solid #e7e8ea;
    border-right: 1px solid #e7e8ea;
  }

  .auto-grid__item:last-child,
  .auto-grid__item:nth-child(4n){
    border-right: 1px solid #e7e8ea;
  }
  
  .auto-grid__item:first-child, 
  .auto-grid__item:nth-child(2),
  .auto-grid__item:nth-child(3){
    border-top: 0;
  }
  
  .auto-grid__item:nth-child(3n){
    border-right: 0;
  }
}
@media(max-width: 1050px){
  .auto-grid__container {
    grid-template-columns: repeat(2, auto); 
  }

  .auto-grid__item {
    border: 0;
    border-top: 1px solid #e7e8ea;
    border-right: 1px solid #e7e8ea;
  }

  .auto-grid__item:last-child,
  .auto-grid__item:nth-child(3n){
    border-right: 1px solid #e7e8ea;
  }
  .auto-grid__item:nth-child(3){
    border-top: 1px solid #e7e8ea;
  }
  
  .auto-grid__item:first-child, 
  .auto-grid__item:nth-child(2){
    border-top: 0;
  }
  
  .auto-grid__item:nth-child(2n){
    border-right: 0;
  }

}
@media(max-width: 730px){
  .auto-grid__container {
    grid-template-columns: repeat(1, auto); 
    text-align: center;
  }
  .auto-grid__item {
    border: 0;
    border-top: 1px solid #e7e8ea;
  }
  .auto-grid__item:first-child {
    border-top: 0;
  }
  .auto-grid__item:nth-child(3){
    border-top: 1px solid #e7e8ea;
  }
  .auto-grid__item:last-child,
  .auto-grid__item:nth-child(3n){
    border-right: 0;
  }

  .auto-grid__item:nth-child(2){
    border-top: 1px solid #e7e8ea;
  }
}
@media(max-width: 440px){
  .auto-grid{
    padding: 0;
  }
  .auto-grid__item img{
    height: 140px;
  }
}


/* MODAL WINDOW ========================================*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* SHOW STYLES ========================================*/
.show {
  padding-bottom: 60px;
}
.show__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 0;
}
.show__text {
  color: #616871;
  font-size: 15px;
}
.show__scale {
  height: 4px;
  width: 380px;
  background-color: #333e50;
}
.show__button {
  font-weight: 600;
  font-size: 15px;
  width: 380px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #1dbd90;
  border-radius: 10px;
  color: #fff;
  transition: all .3s linear;
}
.show__button:hover{
  background-color: #19a880;
}
.show__return {
  color: #1dbd90;
  text-decoration: underline;
}



/* FOOTER STYLES ========================================*/
.footer {background-color: #dfdede;}

.footer__top {padding: 25px 0;}

.footer__container {display: flex;flex-wrap: wrap;justify-content: center;gap: 50px;}

.footer__column {flex: 0 1 270px;}

.footer__list {display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;gap: 20px;margin-bottom: 35px;}

.footer__list--flex {flex-direction: row;margin-bottom: 0;}

.footer__list img {width: 30px;}

.footer__tel-link {font-size: 20px;font-weight: 700;color: #1e2a35;}

.footer__text {margin-top: 25px;}

.footer__title {margin-bottom: 10px;}

.footer__bottom {padding: 45px 0;}

.social__title {margin-bottom: 25px;}

.social__main-link {
  display: inline-block;
  font-size: 20px;font-weight: 700;padding-bottom: 5px;color: #1e2a35;border-bottom: 2px solid;margin-bottom: 15px;
  transition: color 0.3s;
}

.social__list {display: flex;gap: 25px;}

.footer__link,.social__link {transition: color 0.3s;}








